<div class="card" >
  <div><%= tweet.user.email %></div>
  <div class="card-text"><%= tweet.content %></div>
  <div id="like-<%= tweet.id %>">
    <%= render 'tweets/like', tweet: tweet %>
  </div>
</div>
