<h1>Users#following</h1>
<p>Find me in app/views/users/following.html.erb</p>

<% if @following.any? %>
  <% @following.each do |following| %>
    <%= following.username %>
    <%= form_with model: current_user.active_relationships.find_by(followed_id: following.id),
      method: :delete do |f| %>
      <%= f.submit "フォロー解除" %>
    <% end %>
  <% end %>
<% end %>
