<h1>Users#following</h1>
<p>Find me in app/views/users/following.html.erb</p>

<% if @following.any? %>
  <% @following.each do |following| %>
    <%= following.username %>
      <div id="follow_form">
        <% if current_user.following?(following) %>
          <%= render 'users/unfollow', following: following%>
        <% else %>
          <%= render 'users/follow', following: following%>
        <% end %>
      </div>
  <% end %>
<% end %>
