<% if @users.any? %>
  <ul>
    <% @users.each do |user| %>
      <div id="follow-<%= user.id %>">
      <li><%= link_to user.email, user_path(user) %></li>
      </div>
    <% end %>
  </ul>
<% end %>
