
<%= @user.email %>

<div id="follow-<%= @user.id %>">
<% unless current_user.following?(@user) %>
  <%= render 'follow', user: @user%>
<% else %>
  <%= render 'unfollow', user: @user%>
<% end %>
</div>
