<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

  <div id="display_time"></div>
  <script>
  function showClock() {
  var date = new Date();
  var hour = date.getHours();
  var min = date.getMinutes();
  var sec = date.getSeconds();
  document.getElementById('display_time').innerHTML = "現在の時刻は" + hour + " 時 " + min + " 分 " + sec + " 秒 ";
  }

  setInterval('showClock()', 1000)
  </script>

