<h1>MyPage</h1>

<div>
  <a href=<%= following_user_path(current_user) %>>
  <%= current_user.following.count %>
  following
  </a>
</div>

<div>
  <a href=<%= followers_user_path(current_user) %>>
  <%= current_user.followers.count %>
  followers
  </a>
</div>
