@import '~bootstrap-material-design/scss/bootstrap-material-design';

.card{
  padding: 10px;
}

.tweet_text_area{
  padding: 10px;
  margin-bottom: 10px;
}

.tweet_submit{
  margin-right: 10px;
}

.like_form_class{
  margin: 0px;
}

.like_button{
  margin: 0px;
}

.app{
  display: flex;
}
.menu{
  flex-grow: 1;
  width: 100px;
}

.menu-icon{
  padding: 10px;
  margin: 10px;
}

.container{
  flex-grow: 1;
}

.display_time_section{
  flex-grow: 1;
  width: 400px;
}

display_time{
  float: left;
}

.follow_button{
  margin-top: 5px;
  width: 120px;
}

.unfollow_button{
  margin-top: 5px;
  width: 120px;
}

.following_count{
  margin: 10px;
}

.follower_count{
  margin: 10px;
}
