@import '~bootstrap-material-design/scss/bootstrap-material-design';

.card{
  padding: 10px;
  margin: 10px;
  border-radius: 0.5rem;
}

.tweet_text_area{
  padding: 10px;
  margin: 10px;
  width: 500px;
  border-radius: 0.5rem;
}

.tweet_submit{
  margin-left: 10px;
}

.app{
  display: flex;
}
.menu{
  flex-grow: 1;
}

.menu-icon{
  padding: 10px;
  margin: 10px;
}

.container{
  flex-grow: 1;
}

.display_time{
  flex-grow: 1;
}
